<plugin name='jquery-bvalidator' version='0.55.1' grailsVersion='1.3.7 &gt; *'>
  <author>Karol Balejko</author>
  <authorEmail>kb@groovydev.org</authorEmail>
  <title>Plugin form validator for jQuery resource files</title>
  <description>Form validator for jQuery resource files.</description>
  <documentation>https://github.com/groovydev/jquery-bvalidator-grails-plugin/blob/master/README.md</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>JquerybValidatorResources</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='resources' version='1.0 &gt; *' />
    <plugin name='jquery' version='1.6 &gt; *' />
  </dependencies>
  <behavior />
</plugin>